loguru~=0.7.2
configparser~=7.0.0
twilio~=9.0.5
requests~=2.31.0
pandas~=2.2.2
openpyxl
datetime~=5.5
pytz~=2021.3
googletrans==4.0.0-rc1
google-api-python-client>=2.0.0
google-auth-httplib2>=0.1.0
google-auth-oauthlib>=0.4.4
Flask~=3.0.3